<% if current_user %>
  <%= render 'ribbits/new_form' %>
<% end %>

<div id="ribbits" class="panel left">
  <h1> Ribbit Profile </h1>
  <div class="ribbitWrapper">
    <img class="avatar" src="<%= @user.avatar_url %>" />
    <span class="name"><%= @user.name %></span>@<%= @user.username %>
    <p>
      <%= @user.ribbits.length %> Ribbits
      <span class="spacing"> XX Followers </span>
      <span class="spacing"> XX Following </span>
    </p>
  </div>
</div>
<div class="panel left">
  <h1> Ribbits </h1> 
  <div class="ribbitWrapper">
    Ribbits coming...
  </div>
</div>

<%= javascript_include_tag 'ribbits' %>
